h1 {
    height: auto;
    width: 350px;
    padding: 10px;
    margin: auto;
    border-radius: 24px;

    font-family: 'Komika Axis', sans-serif;
    text-align: center;
    font-size: 48px;
    letter-spacing: 5px;


    color: rgb(54, 0, 92);
    background-color: rgb(175, 191, 224);
  }

  .paragraph {
      height: auto;
      width: auto;
      margin: 100px;

      font-family: 'Montserrat', sans-serif;
      font-size: 20px;
  }

  .pages {
      padding: 0px 16px;
  }

  .page {
    border-radius: 12px;
  }

  .header  {
      font-family: monospace;
      background: rgb(186, 205, 228);
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px;
      margin-bottom: 48px;
    }
    
  .title-name {
      font-family: 'Oswald', sans-serif;
      text-align: center;
      font-size: 36px;


      color: rgb(54, 0, 92);

      padding: 0px 16px;
  }
    
  ul {
      /* this removes the dots on the list items*/
      list-style-type: none;
      display: flex;
      gap: 16px;
      padding: 0;
      margin: 0;
  }
    
  a {
      font-size: 22px;
      background: rgb(246, 245, 255);
      padding: 8px;
      /* this removes the line under the links */
      text-decoration: none;
      font-family: 'Oswald', sans-serif;
  }

  a:visited {
    color: rgb(54, 0, 92);
}

  .project-title {
    display: flex;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 48px;
    align-items: center;
    justify-content: center;
    margin-bottom: 14px;
    margin-top: 4px;
  }

  .pair {
    display: flex;
    justify-content: center;
  }

  .images {
    display: flex;
    align-items: center;
    gap: 64px;
  }

  .proj {
    margin: 48px;
    background-color: rgb(225, 233, 240);
    border: 8px solid rgb(68, 38, 88);
    height: 620px;
    width: 725px;
    border-radius: 24px;
    flex-grow: 1;
  }

  img {
    width: 350px;
  }

  .img-tos {
    width: 210px;
  }

  .proj-body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text {
    margin: 40px;
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 18px;
    line-height: 36px;
    flex-grow: 0;
  }

  .game-button {
    font-size: 32px;
    font-family: 'Komika Axis', sans-serif;
    letter-spacing: 5px;
    background-color: rgb(175, 191, 224);
    border-radius: 12px;
    padding-left: 8px;
    padding-right: 8px;
    justify-content: center;
  }

  .game-button:hover {
    background-color: rgb(199, 211, 235);
  }

  .button-link {
    padding: 0;
  }

  .thorkell-model-proj {
    display: flex;
    margin-left: 40px;
  }

  .thorkell-model-img {
    width: 300px;
  }

  .thorkell-model-text-img {
    display: flex;
    flex-direction: column;
    align-items: center;
  }