body {
    background-image: url("images/tech-background.jpg");
    background-repeat: repeat;
    background-size: 55%;
}

h1 {
    height: auto;
    width: 250px;
    padding: 10px;
    margin: auto;
    border-radius: 24px;

    font-family: 'Komika Axis', sans-serif;
    text-align: center;
    font-size: 48px;
    letter-spacing: 5px;


    color: rgb(54, 0, 92);
    background-color: rgb(155, 173, 209);
}

.pages {
    padding: 0px 16px;
}

.page {
    border-radius: 12px;
}

.body {
    display: flex;
    height: auto;
    min-width: 150px;
    margin: 50px;
    margin-left: 300px;
    margin-right: 300px;

    align-items: center;
    justify-content: center;
    padding: 16px;
    background-color: rgb(220, 229, 241);
    border: solid 8px rgb(54, 0, 92);
    border-radius: 24px;
}

img {
    width: 350px;
}

.paragraph {
    height: auto;
    width: 750px;
    margin: 32px;

    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.header  {
    font-family: monospace;
    background: rgb(155, 173, 209);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    margin-bottom: 48px;
  }
  
.title-name {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 36px;


    color: rgb(54, 0, 92);

    padding: 0px 16px;
}
  
ul {
    /* this removes the dots on the list items*/
    list-style-type: none;
    display: flex;
    gap: 16px;
    padding: 0;
    margin: 0;
}
  
a {
    font-size: 22px;
    background: rgb(246, 245, 255);
    padding: 8px;
    /* this removes the line under the links */
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}

a:visited {
    color: rgb(54, 0, 92);
}

.skills {
    margin-bottom: 100px;
}

.skills-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 350px;
    padding: 10px;
    margin: auto;
    margin-top: 100px;
    border-radius: 24px;

    font-family: 'Komika Axis', sans-serif;
    text-align: center;
    font-size: 48px;
    letter-spacing: 5px;


    color: rgb(54, 0, 92);
    background-color: rgb(155, 173, 209);
}

.images-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 128px;
}

.image {
    width: 350px;
}

